/* Geral */
body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-branco);
}

/*Topo do site*/
.topo{
    background-color: var(--color-rosa-medio);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-family: var(--font-titulo);
    font-size: 2rem;
    padding: 0 20px;
}
.area-img-header{
    width: 50px;
    margin: 20px;
}
.card-area__foto-carrinho{
    height: 50px;
    width: 50px; 
       
}
/*Area com produtos-cards com imagens e botoes*/

.area-img{
    background-color: var(--color-rosa-claro);
    border-radius: 10px;
    height: 400px;
    width:300px; 
    align-content: center;
    }

    .card-area__foto{
        height: 60%;
    width: 60%;
    }
    


.card-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;

}
.card-area__title{
    margin: 10px;
    color: var(--color-rosa-escuro);
    font-family: var(--font-subtitulo);
    font-size: 1.25rem;
}
.card-area__price{
    
    font-family: var(--font-botao);
    color: var(--color-rosa-medio);
    font-size: 2rem;
    margin: 15px;
    border: 10px;
}


.topo__marca {
    color: var(--color-branco);
}
.card-area {
    display: flex;
    align-items: center;
    margin: 1rem;
  
}
.card-area__card{
   
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 300px;
    
}
/*botões*/
.modal__unit-control{
    display: block;
    margin: 10px; 
    background-color: var(--color-branco);
    font-size: 2rem;
    font-family: var(--font-botao);
    color: var(--color-rosa-escuro);
}
.card-area__button-add-remove {
    color: var(--color-rosa-claro);
    font-size: 2rem;
    cursor: wait;
    margin-top: -56px;
    background-color: var(--color-branco);
    border: none;
    align-items: center;
}

.card-area__button-add-remove:hover{
    color:var(--color-rosa-hover) ;

}

.btn__selecionar,.btn__carrinho{
    font-size: 1.25rem;
    margin: 20px;
   background-color: var(--color-rosa-medio);
   font-family: var(--font-botao);
   color: var(--color-branco);
   border: none;
   border-radius: 6px;
   height: 2.25rem;
   width: 10rem;
   
}
.btn__selecionar:hover, .btn__carrinho:hover{
    background-color: var(--color-rosa-hover);
}
.btn__adicionar-carrinho{
    font-size: 1.25rem;
    margin: 20px;
   background-color: var(--color-rosa-medio);
   font-family: var(--font-botao);
   color: var(--color-branco);
   border: none;
   border-radius: 6px;
   height: 3rem;
   width: 20rem;
}
.btn__adicionar-carrinho:hover{
    background-color: var(--color-rosa-hover);
}
.qty .count {
    font-family: var(--font-botao);
    color: var(--color-rosa-escuro);
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px
    ;min-width: 35px;
    text-align: center;
}
.qty .plus {
    font-family: var(--font-botao);
    background-color: var(--color-rosa-claro);
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
     font-family: var(--font-botao);
    background-color: var(--color-rosa-claro);
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
div {
    text-align: center;
}
.minus:hover{
    background-color: var(--color-rosa-hover);
}
.plus:hover{
    background-color: var(--color-rosa-hover);
}
/*Prevent text selection*/
span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input{  
    border: 0;
    width: 2%;
}
nput::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:disabled{
    background-color:white;
}


/*carrinho*/
.carrinho {
    display: none; 
    position: fixed; 
    top: 50px; 
    right: 20px; /* Distância da direita da página */
    height: 1016px;
    width: 504px; 
    background-color: #ffffff; 
    border: 1px solid var(--color-rosa-claro); 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 10px; 
    overflow-y: auto; 
    z-index: 1000; 
}


.carrinho__item {
    margin-bottom: 10px;
}

.carrinho__total {
    color: var(--color-rosa-escuro);
    font-size: 1rem;
    font-family: var(--font-subtitulo);
    margin-top: 10px; /* Espaçamento superior para separar do conteúdo anterior */
}


.carrinho__titulo {
    color: var(--color-rosa-medio);
    font-family: var(--font-titulo);
    font-size: 3em; 
    margin-bottom: 10px; 
}


.carrinho__lista {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    max-height: calc(80vh - 50px - 40px);
    overflow-y: auto; 
}

.carrinho__icones {
    margin-top: 20px; 
}

.carrinho__fechar {
    float: right; 
    cursor: pointer; 
    color: #999; 
}

.carrinho__remover i {
    margin-right: 3px; /* Espaçamento à direita para separar do texto */
}

.carrinho--visivel {
    display: block; /* Mostrar o carrinho quando a classe estiver presente */
}

/*footer*/
.footer {
    color: var(--color-branco);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 104px;
    font-size: 1rem;
    background-color: var(--color-rosa-medio);
    height: 144px;
    font-family: var(--font-subtitulo);
    line-height: 24px;

}

.footer__icones {
    font-size: 1.25rem;
}
/*----*/

